<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>

    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="Console"/>
    </root>

    <appender name="Console" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="Green"/>
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan"/>
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red"/>
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="DarkRed"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] %date{HH-mm-ss} %message%newline" />
      </layout>
    </appender>
    
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="PerformanceMeter.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="25"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    
  </log4net>
</configuration>