<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Possible values: "true", "false"-->
    <add key="AutRedirectStandardInput" value="true"/> 
    <add key="AutRedirectStandardOutput" value="true"/>
    <add key="AutRedirectStandardError" value="true"/>
    <add key="AutCreateWindow" value="true"/>
  </appSettings>
</configuration>